bin/
*.o
.*.swp
*.upx
*.deb
deb/usr/games/
launcher/flan
launcher/Makefile
launcher/.qmake.stash
launcher/moc_predefs.h
launcher/ui_mainwindow.h
launcher/moc_mainwindow.cpp
launcher/qrc_res.cpp
launcher/.qt
website/html/index.html
website/html/index.js
website/html/index.wasm
