[Desktop Entry]
Name=AstroImpact Launcher (UDP/IPv4)
Comment=A multi-player space game, defend the planet from the incoming asteroids!
Exec=flan
Icon=/usr/share/icons/hicolor/192x192/flan192x192.png
Type=Application
Categories=Game;ArcadeGame;Simulation;
